# Cleaning Manually Collected Data On Drinking Water Fountains In Granada

In July 2022, I manually collated geospatial location of 20 drinking water fountains in Granada, Spain. I used this notebook to clean the csv that I could export from google maps to create columns for latitude and longitude

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data/Water_fountains.csv")

In [5]:
df

,Title,Note,URL,Comment
0,Dropped pin,NaN,"https://www.google.com/maps/search/37.1799517,...",NaN
1,Dropped pin,NaN,"https://www.google.com/maps/search/37.1745585,...",NaN
2,Dropped pin,NaN,"https://www.google.com/maps/search/37.1757398,...",NaN
3,Dropped pin,NaN,"https://www.google.com/maps/search/37.173379,-...",NaN
4,Dropped pin,NaN,"https://www.google.com/maps/search/37.1732892,...",NaN
5,Dropped pin,NaN,"https://www.google.com/maps/search/37.1733622,...",NaN
6,Dropped pin,NaN,"https://www.google.com/maps/search/37.1789668,...",NaN
7,Dropped pin,New,"https://www.google.com/maps/search/37.1766125,...",NaN
8,Dropped pin,NaN,"https://www.google.com/maps/search/37.1771575,...",NaN
9,Dropped pin,New,"https://www.google.com/maps/search/37.1834953,...",NaN
10,Dropped pin,New,"https://www.google.com/maps/search/37.1836786,...",NaN
11,Dropped pin,NaN,"https://www.google.com/maps/search/37.17892,-3...",NaN
12,Dropped pin,New,"https://www.google.com/maps/search/37.1786697,...",NaN
13,Dropped pin,Fountain,"https://www.google.com/maps/search/37.178093,-...",NaN
14,NaN,New,"https://www.google.com/maps/search/37.1788511,...",NaN
15,Dropped pin,NaN,"https://www.google.com/maps/search/37.179547,-...",NaN
16,Dropped pin,NaN,"https://www.google.com/maps/search/37.1795732,...",NaN
17,Dropped pin,NaN,"https://www.google.com/maps/search/37.1786086,...",NaN
18,Dropped pin,NaN,"https://www.google.com/maps/search/37.1766603,...",NaN
19,Dropped pin,NaN,"https://www.google.com/maps/search/37.1785196,...",NaN

The exported data had 4 columns called 'Title', 'Note', 'URL' and 'Comment'. The latitude and longitude data was hidden in the list of urls in the 'URL' column. Using string extract and regular expression to extract data and add columns with longitude and latitude data

In [3]:
df['location']=df.URL.str.extract("https://www.google.com/maps/search/(.*)")

In [4]:
df['longitude']=df.location.str.extract(".*,(.*)")

In [5]:
df['latitude']=df.location.str.extract("(.*),.*")

Deleting columns that I don't need and renaming the keys and the name of the Note column to 'Type'

In [6]:
df.Note=df.Note.replace(np.nan, "Old")

In [7]:
df=df.drop(columns="Title")
df=df.drop(columns="URL")
df=df.drop(columns="Comment")

In [8]:
df=df.rename(columns={
    "Note": "Type"
})

Saving the cleaned file as a csv

In [9]:
df.to_csv("Water_fountains_clean.csv", index=False)